@import '~styles/theme';

.status-pill {
  background-color: $primary-2;
  border-radius: 39px;
  margin: 10px 8px;
  padding: 8px 10px;
  display: inline-flex;

  .text {
    font-family: $chivo-font;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    margin-top: 0.4px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
  }

  .cancel-deployment {
    margin-left: 20px;
    margin-right: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    i {
      margin-right: 3px;
    }
  }
}
